html {
  box-sizing: border-box;
}

*,
* ::before 
* ::after {
  box-sizing: inherit;
}

.wrapper{
  width: 901px;
  margin: 0 auto;
}

/* start site_navigation*/

.site_navigation{
  height: 190px;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site_navigation li{
  display: inline-block;
  margin-top: 75px;
}

.site_navigation li:not(:last-child){
  margin-right: 100px;
}

.site_navigation a{
  font-family: Playfair Display, Serif;
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
}

.site_navigation a:hover,
.site_navigation a:focus{
  color:#03A9F4;
}

/*end start*/

/* start item*/

.item{
    width: 416px;
    display: inline-block;
}

.ubuntu{
    font-size: 14px;
    font-family: Ubuntu, Serif;
    color: #626262;
    text-transform: uppercase;
}

.item h2{
    font-size: 30px;
    font-family: Playfair Display, Serif;
    color: #626262;

}

.item p{
    color:#626262;
    font-size: 14px;
    font-family: Playfair Display, Serif;
}

.coffee,
.alps,
.Winter{
  margin-left: 60px;
  margin-right: 0px;
}

/*end item*/

button{
  color: #626262;
  font-size: 20px;
  font-family: Playfair Display, Serif;
  background-color: white; 
  width: 165px;
  height: 60px;
  border: 1px #626262 solid;
  
}
