html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-family: "Playfair Display", serif;
}
.wrapper {
  width: 901px;
  margin: 0 auto;
}

header {
  height: 190px;
}

/* start site_navigation*/

.site_navigation {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 165px;
}

.site_navigation li {
  display: inline-block;
  margin-top: 75px;
}

.site_navigation li:not(:last-child) {
  margin-right: 100px;
}

.site_navigation a {
  font-family: Playfair Display, Serif;
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
}

.site_navigation a:hover,
.site_navigation a:focus {
  color:lightskyblue;
}

/*end start*/

/* start item*/

.item {
    width: 416px;
    display: inline-block;
}

.ubuntu {
    font-size: 14px;
    font-family: Ubuntu, Serif;
    color: #626262;
}

.item h2 {
    font-size: 30px;
    font-family: Playfair Display, Serif;
    color: #626262;

}

.item p {
    color:#626262;
    font-size: 14px;
    font-family: Playfair Display, Serif;
}

.coffee,
.alps,
.Winter {
  margin-left: 60px;
  margin-right: 0px;
}

/*end item*/

button {
  color: #626262;
  font-size: 20px;
  font-family: Playfair Display, Serif;
  background-color: white; 
  margin: 57px 378px 70px 358px;
  padding: 10px 33px 10px 33px;
  border: 1px #626262 solid;
}
