html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
* ::before,
* ::after {
  box-sizing: inherit;
}

.container {
  width: 905px;
  margin: 0 auto;
}

/* start site_navigation*/

.site_navigation {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site_navigation li {
  display: inline-block;
  margin-top: 78px;
  margin-bottom: 102px;
}

.site_navigation li:not(:last-child) {
  margin-right: 100px;
}

.site_navigation a {
  font-family: "Playfair Display", Serif;
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
}

.site_navigation a:hover,
.site_navigation a:focus {
  color: #03a9f4;
}

/*end site_navigation*/

/* start item*/

.item {
  width: 420px;
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 0px;
}

.ubuntu {
  font-size: 14px;
  font-family: "Ubuntu",sans-serif;
  color: #b4ad9e;
  text-transform: uppercase;
}

.item h2 {
  font-size: 30px;
  font-family: "Playfair Display", Serif;
  color: #626262;
}

.item p {
  color: #626262;
  font-size: 14px;
  font-family: "Playfair Display", Serif;
}

.section:nth-child(even) {
  margin-right: 0px;
  margin-bottom: 0px;
}

/*end item*/

button {
  color: #626262;
  font-size: 20px;
  font-family: "Playfair Display", Serif;
  background-color: white;
  width: 165px;
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-top: 57px;
  border: 1px #110000 solid;
}

.click {
  padding-bottom: 70px;
}
