html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

nav {
  padding-top: 36px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}



/* Logo start*/
.logo {
  display: inline-block;
  vertical-align: middle;
}
.logo a {
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", Serif;
  color: #555252;
  display: inline-block;
  vertical-align: middle;
}

.logo a::first-letter {
  font-size: 30px;
  font-weight: 900;
  font-family: "Roboto", Serif;
  color: #1abc9c;
}

/*logo end*/

/* Top menu start*/

.top_menu {
  margin: 0;
  padding: 0;
  float: right;
}

.top_menu a {
  font-size: 14px;
  color: #0f0101;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 32px;
}

.top_menu li {
  float: left;
  list-style-type: none;
}

.top_menu li:not(:last-child) {
  margin-right: 25px;
}

.top_menu a:hover,
.top_menu a:focus {
  color: #1abc9c;
}

/*Top menu end*/

/*slider start*/

.click_slider {
  margin-top: 38px;
  position: relative;
  min-width: 100%;
  height: auto;
}

.top_picture {
  display: block;
  width: 100%;
  height: auto;
  background-color: #323232;
}

#overlay::after {
  content: "";
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.52);
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider_text {
  width: 760px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.title_text {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.48px;
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 82px;
  text-align: left;
}

.text_pos {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 54px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}

/*slider end*/

/* start click left and right*/

.click_but {
  width: 104px;
  height: 104px;
  background-color: rgb(26, 188, 156);
  border: none;
  opacity: 65%;
  float: left;
  background-image: url(../icon/left.png);
}

.click_but.right {
  float: right;
  background-image: url(../icon/right.png);
}

.click_but:hover {
  background-color: #1abc9c;
  opacity: 1;
}

.click_but:hover .right {
  background-color: #1abc9c;
  opacity: 1;
}

/* end click left and right*/

/*start box_prod title*/

.box_prod {
  height: 680px;
  background-color: #e9f0fd;
}

.title h2 {
  padding: 0;
  margin: 0;
  color: #515151;
  font-size: 48px;
  font-family: "Roboto", Serif;
  font-weight: 900;
  padding-top: 101px;
  text-transform: uppercase;
  text-align: center;
}

.title h2::after {
  content: "";
  display: block;
  width: 164px;
  margin: 0 auto;
  height: 7px;
  background-color: #1abc9c;
  margin-top: 34px;
  margin-bottom: 80px;
}

/* end box_prod title*/

/* start products*/
.products {
  margin: 0;
  padding: 0;
}

.products li {
  float: left;
  width: 255px;
  margin: 0px 30px 30px 0;
  list-style-type: none;
}

.products li {
  background-color: #323232;
}

.inform h3 {
  margin: 0;
  padding: 0;
  float: left;
}

.inform h3 a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  font-family: "Roboto", Serif;
  text-decoration: none;
  line-height: 40px;
  text-transform: uppercase;
  padding-left: 14px;
  /* background-color: #323232; */
}

.price {
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  font-family: "Roboto", Serif;
  background-color: rgba(255, 255, 255, 0.44);
  text-decoration: none;
  line-height: 42px;
  width: 54px;
  float: right;
  text-align: center;
}

.wrap_prod:hover .inform {
  background-color: #1abc9c;
}

.products li:nth-child(4n) {
  margin-right: 0;
}

.page_prod {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid #ffffff;
  background-color: rgba(0, 0, 2, 0.52);
  opacity: 0;
  top: 0;
  left: 0;
}

.wrap_prod:hover .overlay {
  opacity: 1;
}

/*end products*/

/*start box_prod*/

.part_icons li {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 50px;
  height: 50px;
  top: 80px;
  right: 7px;
  margin-right: 9px;
  background: none;
}

.icon {
  position: absolute;
  list-style-type: none;
  background: url(../icon/icon_one.png);
  width: 50px;
  height: 50px;
  border: none;
}

.two {
  background: url(../icon/icon_two.png);
}

.three {
  background: url(../icon/icon_three.png);
}

.card {
  position: absolute;
  background: url(../icon/add_to_cart.png);
  width: 168px;
  height: 50px;
  background-color: #323232;
  list-style-type: none;
  border: 1px solid #ffffff;
  background-repeat: no-repeat;
  background-position: 11px, 13px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans", Serif;
  padding-left: 50px;
}

.part_icons li:last-child {
  margin-top: 10px;
  width: 168px;
}

.icon:hover {
  background-color: #1abc9c;
}

/*end box_prod*/

/*start footer*/

.page_foot {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 88px;
  background-color: rgb(50, 50, 50);
}

.text_bottom p {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
  font-size: 16px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #1abc9c;
}

/*end footer*/
