html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .container {
    width: 1110px;
    margin: 0 auto;
  }

  /* img {
    display: block;
    max-width: 100%;
    height: auto;
  } */
  
  nav {
    padding-top: 36px;
  }
  
  .clearfix::after {
    display: table;
    content: "";
    clear: both;
  }
  
  /* Logo start*/
.logo {
    display: inline-block;
    vertical-align: middle;
  }
  .logo a {
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Roboto", Serif;
    color: #555252;
    display: inline-block;
    vertical-align: middle;
  }
  
  .logo a::first-letter {
    font-size: 30px;
    font-family: "Roboto", Serif;
    color: #1abc9c;
  }
  
  /*logo end*/
  
  /* Top menu start*/
  
  .top_menu {
    margin: 0;
    padding: 0;
    float: right;
    line-height: 32px;
  }
  
  .top_menu a {
    font-size: 14px;
    color: #0f0101;
    font-family: "Open Sans", Serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .top_menu li {
    float: left;
    list-style-type: none;
  }
  
  .top_menu li:not(:last-child) {
    margin-right: 25px;
  }
  
  .top_menu a:hover,
  .top_menu a:focus {
    color: #1abc9c;
  }
  
  /*Top menu end*/

  /*slider start*/

.click_slider {
      margin-top: 38px;
      position: relative;
      min-width: 100%;
      height: auto;
}

.top_picture {
    display: block;
    width: 100%;
    height: auto;
    /* background-color: #323232; */
}

#overlay::after {
    content:"";
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.52)
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider_text {
    width: 760px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.title_text {
    font-family: "Roboto", Serif;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    line-height: 82px;
}

.text_pos {
    font-family: "Roboto", Serif;
    font-size: 24px;
    color: #ffffff;
}


   /*slider end*/