html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

nav {
  padding-top: 36px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* Logo start*/
.logo {
  display: inline-block;
  vertical-align: middle;
}
.logo a {
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", Serif;
  font-weight: 300;
  color: #555252;
  display: inline-block;
  vertical-align: middle;
}

.logo a::first-letter {
  font-size: 30px;
  font-family: "Roboto", Serif;
  font-weight: 900;
  color: #1abc9c;
}

/*logo end*/

/* Top menu start*/

.top_menu {
  margin: 0;
  padding: 0;
  float: right;
  line-height: 32px;
}

.top_menu a {
  font-size: 14px;
  color: #0f0101;
  font-family: "Open Sans", Serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.top_menu li {
  float: left;
  list-style-type: none;
}

.top_menu li:not(:last-child) {
  margin-right: 25px;
}

.top_menu a:hover,
.top_menu a:focus {
  color: #1abc9c;
}

/*Top menu end*/

/*start main*/
.title h2 {
  color: #515151;
  font-size: 48px;
  font-family: "Roboto", Serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 105px;
}

.title h2::after {
  content: "";
  display: block;
  width: 167px;
  margin: 0 auto;
  height: 7px;
  background: #1abc9c;
  margin-top: 32px;
  margin-bottom: 92px;
}

/*end title*/

/* start wrap*/

.wrap {
  margin: 0;
  padding: 0;
}

.wrap li {
  float: left;
  width: 255px;
  margin: 0px 30px 30px 0;
  list-style-type: none;
  background-color: #323232;
}

.wrap li:nth-child(n + 4) {
  margin-bottom: 0;
}

.page_product {
  background-color: #e9f0fd;
}

.inform {
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
}

.inform h3 {
  margin: 0;
  padding: 0;
  float: left;
}

.inform h3 a {
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", Serif;
  font-weight: 900;
  padding-left: 14px;
  text-decoration: none;
}

.price {
  color: #ffffff;
  float: right;
  font-size: 18px;
  font-family: "Roboto", Serif;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.44);
  text-align: center;
  width: 54px;
  line-height: 42px;
}

.wrap li:hover {
  background-color: #1abc9c;
}

.wrap li:nth-child(4n) {
  margin-right: 0;
}

/*end wrap*/

/*start preview and text inform*/
ul.wrapper {
  margin: 0;
  padding: 0;
}

.preview {
  display: block;
}

.text_inform {
  width: 350px;
}

.text_inform {
  margin: 0;
  padding: 0;
  color: #555252;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-top: 15px;
}

.text_inform::after {
  content: "";
  display: block;
  width: 136px;
  height: 3px;
  background: #1abc9c;
  margin-top: 15px;
  margin-bottom: 30px;
}

/*end preview and text inform*/

/*start text inform two part*/

.text_inform_two_part {
  width: 350px;
  margin: 0;
  padding: 0;
  color: #555252;
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 26px;
}

.click {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 300;
  background-color: #4ec6ab;
  text-align: center;
  width: 160px;
  height: 51px;
  border: 1px #4ec6ab solid;
  border-radius: 3px;
  margin-top: 19px;
  margin-bottom: 81px;
  text-decoration: none;
  line-height: 47px;
}

.wrapper li {
  float: left;
  width: 348px;
  margin-right: 30px;
}

.wrapper li:last-child {
  margin-right: 0px;
}

/*end text inform two part*/
