html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  padding-top: 36px;
  margin-bottom: 105px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* Logo start*/

.logo {
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto black", Serif;
  color: #555252;
  display: inline-block;
  vertical-align: middle;
}

.logo::first-letter {
  font-size: 30px;
  font-family: "Roboto Light", Serif;
  color: #1abc9c;
}

/*logo end*/

/* Top menu start*/

.top_menu {
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 13px;
}

.top_menu a {
  font-size: 14px;
  color: #0f0101;
  font-family: "OpenSans", Serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.top_menu li {
  float: left;
  list-style-type: none;
}

.top_menu li:not(:last-child) {
  margin-right: 25px;
}

.top_menu a:hover,
.top_menu a:focus {
  color: #1abc9c;
}

/*Top menu end*/

/*start main*/
.title h2 {
  color: #515151;
  font-size: 48px;
  font-family: "Roboto Black", Serif;
  text-align: center;
  text-transform: uppercase;
}

.title::after {
  content: "";
  display: block;
  width: 167px;
  margin: 0 auto;
  height: 7px;
  background: #1abc9c;
}

/*end title*/

/* start page product*/

.page_product {
  margin: 0;
  padding: 0;
  background-color: #e9f0fd;
  display: inline-block;
  width: 255px;
  height: 282px;
  
}

.inform {
  line-height: 44px;
  text-align: center;
}

.inform h3 {
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto Black", Serif;
  font-weight: bold;
  float: left;
  background-color: #323232;
  text-transform: uppercase;
  width: 255px;
  height: 40px;
}

.inform span {
    background-color: #8c8c8c;
  float: right;
  width: 54px;
  height: 40px;
  margin-left: 12px;
}
 
 .wrap {
   float: left;
   margin-top: 92px;
 }
 
 .wrap:nth-child(odd) {
 margin-left: 30px;
 }