$main-font-stack: "Montserrat", "Kaushan Script", "Roboto";
$primary-white-color: #fff;
$primary-hover-color: #fce38a;
$primary-dark-color:rgb(51, 51, 51);
$secondary-grey-color: rgb(153, 153, 153);
$primary-pink-color: #f38181;
$svg-main-fill: #95e1d3;
$form-text-color: rgb(204, 204, 204);
$line-bottom-color: rgb(229, 229, 229);
